.contact_us{
    position:relative;
    width:100%;
    max-width: 1400px;
    padding:30px 50px;
}
.contact_us .heading{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact_us .heading h1{
    color:white;
    font-weight: 600;
    font-size: 30px;
}
.formfill{
    position:relative;
    width:100%;
}
.formfill .rowbox{
    display:flex;
    gap:20px; 
} 
.boxes{
    position:relative;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info"
    "form map";
    grid-gap:20px;
    margin-top: 20px;
}
.contact{
    padding:50px;
    background-color: white;
}
.contact h3{
    color:indigo;
    font-weight: 550;
    font-size: 13px;
    margin-top:12px;
    text-transform: uppercase;
}
.form{
    grid-area: form;
    background-color: beige;
    animation: slidefromleft 0.5s ease-in;
}
@keyframes slidefromleft{
    0%{
        opacity:0;
        transform:skew(5deg) translateX(-900px);
    }
    100%{
        opacity:1;
        transform:skew(0deg);
    }
}
.info{
    grid-area: info;
    background-color: beige;
    animation:slidefromtop 1s ease-in;
}
@keyframes slidefromtop{
    0%{
        opacity:0;
        transform:skew(2deg) translateY(-500px);
    }
    100%{
        opacity:1;
        transform:skew(2deg);
    }
}
.map{
    grid-area:map;
    background-color: beige;
    animation: slidefrombottom 1.5s ease-in;
}
@keyframes slidefrombottom{
    0%{
        opacity:0;
        transform:skew(2deg) translateY(500px);
    }
    100%{
        opacity:1;
        transform:skew(2deg);
    }  
}
.input1{
    display:flex;
    flex-direction: column;       /*so label and input are in same cols*/
    margin-bottom: 10px;
    width:50%;
}
.formfill .rowbox2 .input1{
    width:100%;
}
.input1 label{
    color: rgb(38, 105, 192);
    margin-top: 7px;
    font-weight: 450;
    text-transform: capitalize;
}
.input1 input{
    padding:7px;
    border:1px solid black;
}
.input1 textarea{
    border:1px solid black;
    min-height: 200px;
    margin-bottom:12px;
}
.input1 input[type="submit"]{
    background-color: rgb(54, 91, 212);
    color:white;
    font-size: 15px;
    font-weight:300;
    cursor: pointer;
    max-width:100px;
    margin:auto;
}
.input1 input[type="submit"]:hover{
    background-color: green;
    color:white;
    font-size: 18px;
    transition: all 0.5s ease;
}
.info{
  background-color:beige;
}
.info h3{
    color:black;
    margin-top: -12px;
    margin-bottom: 15px;
}
.info .infobox div{
    display:flex;
    align-items: center;
    margin-bottom:12px;
}
.info .infobox div span{
    min-width:40px;
    height:40px;
    color:black;
    background: hotpink;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 12px;
    border-radius:50%;
    border:1px white solid;
}
.info .infobox div p, .info .infobox div a{
color:black;
text-decoration: none;
}
.info .infobox div a:hover{
    color:blue;
}
.map{
    padding:0;
}
.map iframe{
    width:100%;
    height:100%;
}
@media(max-width:1010px){
    .contact_us{
        padding:22px;
    }
    .boxes{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form"
        "info"
        "map";
    }
    .map{
        min-height:320px;
        /* animation: slidetheright 1.5sec ease-in; */
    }
    /* @keyframes slidetheright{
        0%{
            opacity:0;
            transform:skew(2deg) translateX(100px);
        }
        100%{
            opacity:1;
            transform:skew(2deg);
        } 
    } */
    .formfill .rowbox{
        display:flex;
        gap:0;
        flex-direction: column;
    }
    .input1{
        width:100%;  
    }

    
}